$clippy-balloon-bg: #FFC;
$clippy-balloon-color: black;
$clippy-balloon-padding: 8px;
$clippy-balloon-border: 1px solid black;
$clippy-balloon-border-radius: 5px;
$clippy-font-family: "Microsoft Sans", sans-serif;
$clippy-font-size: 10px;

$clippy-tip-bg:          url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAgAgMAAABvDLAlAAAACVBMVEUAAAD//8wAAACRWNQ+AAAAAXRSTlMAQObYZgAAAGFJREFUCNdtziEOwCAUA9BmbtxjyTgQZEFN0ltwCTwGwylXUjvzDPy26IkpY8qCKCtO+SLIgaMzN0ACmCzy4iMjqwwc8mDbri3WBveffvVPXznBaU52ixvd7iVe5YVe6+UfnNwnB8+ZFdkAAAAASUVORK5CYII=)  no-repeat;
$clippy-choice-bg:       url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAALVBMVEUAAAAAM2YAM5n///+ysrIAZpkzM8yGhoYAmcwzzMx3d3eZ//9m//8zmcwzZpmZ9prkAAAAAXRSTlMAQObYZgAAAERJREFUCNdjYPAqd2BgYKlLVGFgcI8NVHJgKEpVTFRmWKjYESjM4CjWM1WZwVG1e5oyA4tQWKABA4OhkDIDAwOzsQEDAH2RC4gqiJwcAAAAAElFTkSuQmCC) 4px center no-repeat;
$clippy-choice-hover-bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAPFBMVEUAAAAAZpn///+ysrIAM5kAM2aGhoYzZpkAmcyZ//8zzP8z//8AzP//+/BmzMwAzMwAZswzmZkAmZkzM5k2EqaPAAAAAXRSTlMAQObYZgAAAEpJREFUCNcdyFsWgDAIA9EEAq31rfvfq9j5umcAeGY6MNVE+dRNtmA52a+tU82Q8ZzL2hkGJ4ctfFVU4zGouvAQg6XKQmJperdfH157AZiSJ5KvAAAAAElFTkSuQmCC);
