$clippy-balloon-bg: #FFC;
$clippy-balloon-color: black;
$clippy-balloon-padding: 8px;
$clippy-balloon-border: 1px solid black;
$clippy-balloon-border-radius: 5px;
$clippy-font-family: "Microsoft Sans", sans-serif;
$clippy-font-size: 10px;
